In [6]:
# import statements
import pandas as pd
import numpy as np
from surprise.prediction_algorithms.knns import KNNWithMeans as knn
from surprise import Dataset
from surprise import evaluate
from sklearn.metrics.pairwise import cosine_similarity

## Reading the data

In [8]:
col_name_rating = ['user_id', 'item_id', 'rating', 'timestamp']
rating = pd.read_csv('u.data', sep='\t', names = col_name_rating)

col_name_user = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('u.user', sep='|', names = col_name_user)

col_name_movies = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 
                   'Adventure','Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 
                   'Film-Noir', 'Horror','Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv('u.item', sep='|', names = col_name_movies, encoding='latin-1')

## KNN from scratch

In [52]:
n_users = rating.user_id.unique().shape[0]
n_items = rating.item_id.unique().shape[0]
print('Number of users = ' + str(n_users) + ' | Number of movies = ' + str(n_items))

Number of users = 943 | Number of movies = 1682

In [53]:
user_data_matrix = np.zeros((n_users, n_items))
for line in rating.itertuples():
    user_data_matrix[line[1]-1, line[2]-1] = line[3]

## Normalising the dataset

In [54]:
mean_user_rating = np.nanmean(user_data_matrix,axis = 1)

In [55]:
ratings_diff = (user_data_matrix - mean_user_rating[:, np.newaxis]) 
rating_diff_new = np.nan_to_num(ratings_diff)

## Training and test dataset

In [56]:
train = rating_diff_new[:-1]
test = rating_diff_new[-1]

## User-user similarity

In [63]:
user_similarity =  cosine_similarity(train, test).T

/home/user/stackRoute/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

## Recommending movies for one user

In [64]:
users = list(user_similarity[0])
sorted_users = sorted(users,reverse=True)
list_top_users  = sorted_users[:5]

In [50]:
pred = np.zeros(train[0].shape)
for i in list_top_users:
    index = users.index(i)
    pred += i*train[index]

In [18]:
sorted_pred = sorted(pred,reverse=True)
top_pred = sorted_pred[:15]
indexes = []
pred_list = list(pred)
for i in top_pred:
    if (pred_list.index(i) not in indexes):
        indexes.append(pred_list.index(i))

In [19]:
movies_watched_index = []
for i in range(len(test)):
    if (test[i]>0):
        movies_watched_index.append(i+1)

In [45]:
## Movies the user has watched
movies_watched=[]
for i in movies_watched_index:
    movies_watched.append(movies['movie_title'][movies['movie_id'] == i])

## Movies the users can watch (recommended movies)
movie_to_watch = []
for i in (indexes):
    if (i not in movies_watched_index):
        movie_to_watch.extend(movies['movie_title'][movies['movie_id'] == i+1])

In [46]:
if (len(movie_to_watch) > len(movies_watched)):
    movie_watched.extend(['']*(len(movie_to_watch) - len(movies_watched)))
else:
    movie_to_watch.extend(['']*(len(movies_watched) - len(movie_to_watch)))

In [47]:
recommended_movies = pd.DataFrame({"Watched Movies": movies_watched,
                         "Recommended Movies":movie_to_watch})

In [48]:
recommended_movies

    Recommended Movies                                     Watched Movies
0     GoldenEye (1995)  1    GoldenEye (1995)
Name: movie_title, dtype...
1                       8    Dead Man Walking (1995)
Name: movie_title...
2                       10    Seven (Se7en) (1995)
Name: movie_title, ...
3                       11    Usual Suspects, The (1995)
Name: movie_t...
4                       21    Braveheart (1995)
Name: movie_title, dty...
5                       22    Taxi Driver (1976)
Name: movie_title, dt...
6                       23    Rumble in the Bronx (1995)
Name: movie_t...
7                       26    Bad Boys (1995)
Name: movie_title, dtype...
8                       27    Apollo 13 (1995)
Name: movie_title, dtyp...
9                       30    Crimson Tide (1995)
Name: movie_title, d...
10                      37    Net, The (1995)
Name: movie_title, dtype...
11                      40    Billy Madison (1995)
Name: movie_title, ...
12                      41    Clerks (1994)
Name: movie_title, dtype: ...
13                      49    Star Wars (1977)
Name: movie_title, dtyp...
14                      50    Legends of the Fall (1994)
Name: movie_t...
15                      52    Natural Born Killers (1994)
Name: movie_...
16                      53    Outbreak (1995)
Name: movie_title, dtype...
17                      54    Professional, The (1994)
Name: movie_tit...
18                      55    Pulp Fiction (1994)
Name: movie_title, d...
19                      57    Quiz Show (1994)
Name: movie_title, dtyp...
20                      61    Stargate (1994)
Name: movie_title, dtype...
21                      63    Shawshank Redemption, The (1994)
Name: m...
22                      66    Ace Ventura: Pet Detective (1994)
Name: ...
23                      67    Crow, The (1994)
Name: movie_title, dtyp...
24                      68    Forrest Gump (1994)
Name: movie_title, d...
25                      71    Mask, The (1994)
Name: movie_title, dtyp...
26                      72    Maverick (1994)
Name: movie_title, dtype...
27                      75    Carlito's Way (1993)
Name: movie_title, ...
28                      78    Fugitive, The (1993)
Name: movie_title, ...
29                      79    Hot Shots! Part Deux (1993)
Name: movie_...
..                 ...                                                ...
138                     719    First Knight (1995)
Name: movie_title, ...
139                     720    Mallrats (1995)
Name: movie_title, dtyp...
140                     721    Nine Months (1995)
Name: movie_title, d...
141                     723    Circle of Friends (1995)
Name: movie_ti...
142                     731    Dave (1993)
Name: movie_title, dtype: o...
143                     738    Pretty Woman (1990)
Name: movie_title, ...
144                     755    Father of the Bride Part II (1995)
Name...
145                     762    Happy Gilmore (1996)
Name: movie_title,...
146                     764    Boomerang (1992)
Name: movie_title, dty...
147                     784    Only You (1994)
Name: movie_title, dtyp...
148                     793    It Could Happen to You (1994)
Name: mov...
149                     795    Speechless (1994)
Name: movie_title, dt...
150                     807    Program, The (1993)
Name: movie_title, ...
151                     815    Candyman: Farewell to the Flesh (1995)
...
152                     823    Great White Hype, The (1996)
Name: movi...
153                     824    Arrival, The (1996)
Name: movie_title, ...
154                     830    Escape from L.A. (1996)
Name: movie_tit...
155                     839    Last Man Standing (1996)
Name: movie_ti...
156                     927    Craft, The (1996)
Name: movie_title, dt...
157                     940    With Honors (1994)
Name: movie_title, d...
158                     942    Killing Zoe (1994)
Name: movie_title, d...
159                     1010    2 Days in the Valley (1996)
Name: movi...
160                     1027    Grumpier Old Men (1995)
Name: movie_ti...
161                     1043    Paper, The (1994)
Name: movie_title, d...
162                     1046    Multiplicity (1996)
Name: movie_title,...
163                     1066    Bottle Rocket (1996)
Name: movie_title...
164                     1073    Reality Bites (1994)
Name: movie_title...
165                     1187    Young Guns II (1990)
Name: movie_title...
166                     1227    Under Siege 2: Dark Territory (1995)
N...
167                     1329    An Unforgettable Summer (1994)
Name: m...

[168 rows x 2 columns]

## KNN using Surprise Package

In [25]:
movie_data = Dataset.load_builtin('ml-100k')
movie_data.split(n_folds=3)

In [26]:
knn_algorithm = knn(k=10, min_k=1)

In [28]:
for train_set, test_set in movie_data.folds():
    knn_algorithm.train(train_set)
    pred = knn_algorithm.test(test_set)

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

In [29]:
evaluation = evaluate(knn_algorithm, movie_data, measures=['RMSE', 'MAE'])

Evaluating RMSE, MAE of algorithm KNNWithMeans.

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9819
MAE:  0.7763
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9828
MAE:  0.7750
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9767
MAE:  0.7709
------------
------------
Mean RMSE: 0.9805
Mean MAE : 0.7741
------------
------------

## Recommending movies for one user

In [30]:
predict = []
for i in range(1682):
    predict.append(knn_algorithm.predict('330', str(i), r_ui = test_set).est)

In [35]:
top_movies = sorted(predict, reverse=True)[:5]

In [44]:
## Function to get the index of the movie
get_index = lambda x, xs: [i for (y, i) in zip(xs, range(len(xs))) if x == y]

indices = []
predict = list(predict)
count = 1
for i in top_movies:
    if predict.index(i) in indexes:
        indices.append(get_index(i, predict)[count])
        count += 1
    else:
        indexes.append(predict.index(i))
indices

[15, 22, 25, 50, 56]

In [42]:
for i in indices:
    recommended_movie = movies.movie_title[movies['movie_id'] == i+1]
    print(recommended_movie)

15    French Twist (Gazon maudit) (1995)
Name: movie_title, dtype: object
22    Taxi Driver (1976)
Name: movie_title, dtype: object
25    Brothers McMullen, The (1995)
Name: movie_title, dtype: object
50    Legends of the Fall (1994)
Name: movie_title, dtype: object
56    Priest (1994)
Name: movie_title, dtype: object